<%+ extend('layout/app')  %> 
<%+ section('title', 'Home') %> 
<%+ section('content') %> 
<div class="container col-xxl-8 px-4 py-5" id="home">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/public/images/transform-1x-v3.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="700" height="500">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Transform your life through education</h1>
      <p class="lead">Learners around the world are launching new careers, advancing in their fields, and enriching their lives.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/register" class="btn btn-primary btn-lg px-4 me-md-2">Sign-up Now</a>
      </div>
    </div>
  </div>
</div>
<div class="container px-4 py-5" id="course">
  <h2 class="pb-2 border-bottom">Course List</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <% crs.forEach(element => { %>
      <div class="col d-flex align-items-start mb-4">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img src="/public/images/logo.png" class="bi me-4" height="64" alt="" >
        </div>
        <div>
          <h4><%= element.name  %></h4>
          <p class="text-muted"><%= element.pricingFormatted %>
            <br>
            <small>
              has been enrolled by <%= element.dataValues.Users.length %> user
            </small>
          </p>
          <p><%= element.description %></p>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<%+ endSection %>