<%+ extend('layout/blank')  %> 
<%+ section('title', 'login') %> 
<%+ section('content') %> 
<form>
  <img src="/public/images/logo.png" class="bi me-4" height="64" alt="" >
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="form-floating">
    <input type="email" name="email" class="form-control" id="email" placeholder="mail@example.com">
    <label for="email">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    <label for="password">Password</label>
  </div>

  <button class="mt-4 w-100 btn btn-lg btn-primary" type="submit">Log in</button>
  <a href="/register" class="mt-2 w-100 btn btn-lg btn-secondary" type="submit">Sign-up</a>
  <p class="mt-5 mb-3 text-muted">© RuangTuru</p>
</form>
<%+ endSection %>