<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RuangTuru - <%+ yield('title') %></title>
  <link rel="stylesheet" href="/public/css/bootstrap.min.css" Content-Type: "text/css">
  <link rel="stylesheet" href="/public/css/style.css" Content-Type: "text/css">
</head>
<body>
  <main>
    <%- include('../partial/navbar') %>
    <div class="container">
      <div class="content-container py-4">
        <%+ yield('content') %>
      </div>
      <%- include('../partial/footer') %>
    </div>
  </main>
  <script src="/public/js/bootstrap.min.js"></script>
  <%+ yield('script') %>
</body>
</html>